@model IEnumerable<WebApp2Prosjekt.Models.Tasks>

@{
    ViewData["Title"] = "ReviewTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReviewTasks</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TasksId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialityFieldId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lines)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TasksId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialityFieldId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lines)
            </td>
            <td>
                <form asp-action="ReviewTasks">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" name="TasksId" value="@item.TasksId" />
                    <input type="hidden" name="Complete" value="true" />
                    <input type="hidden" name="Lines" value="@item.Lines" />
                    <button type="submit" class="btn btn-success">Completed</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
