@model IEnumerable<WebApp2Prosjekt.Models.Tasks>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <ul>
        <li>@Html.ActionLink("Create a new Task", "SubmitTask")</li>
        <li>@Html.ActionLink("Pay for tasks", "PayForTask")</li>
    </ul>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TasksId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freelancer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialityFieldId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lines)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TasksId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freelancer.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialityFieldId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lines)
            </td>
            <td>
                @if (item.Complete)
                {
                    <button class="btn btn-danger" value="@item.TasksId">Pay</button>
                }
            </td>
        </tr>
}
    </tbody>
</table>
