@model IEnumerable<WebApp2Prosjekt.Models.Tasks>

@{
    ViewData["Title"] = "FindTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FindTask</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialityField.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialityField.Type)
            </td>
            <td>
                @Html.ActionLink("Take", "ClaimTask", new { taskId=item.TasksId })
            </td>
        </tr>
}
    </tbody>
</table>
